.main-box {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 475px;
    justify-content: space-between;
}

.main-box .main-subtitle {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 38px;
}

.navigation {
    padding-right: 193px;
}