.main-action {
    color: #212121;
    font-size: 26px;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    padding: 15px 6px;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.main-action::before {
    content: "";
    background-color: #1673fa;
    width: 8px;
    height:8px;
    margin-right: 8px;
    border-radius: 5px;
    text-align: center;
}
