.main-action {
    color: #FFFAF0;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.main-action:hover {
	transition: opacity .5s ease-in, background-color .5s ease-out;
  transform: scale(1.18);
}