.main-description {
        font-family: 'Darker Grotesque', sans-serif;
        color: #0f0f0f;
        font-weight: 600;
        font-size: 28px;
        margin-left: 40px;
        margin-right: 40px;
}