.main-subtitle {
    font-family: 'Darker Grotesque', sans-serif;
    color: #FFFAF0;
    text-align: left;
    font-weight: normal;
    font-size: 42px;
}

.main-subtitle.-tirth {
    font-size: 34px;
}