
#contact-form {
    background-color: #0f0f0f;
    padding: 28px;
    border-radius: 8px;
}

.main-input {
    box-sizing: border-box;
    border: 1px #0f0f0f;
    font-size: 16px;
    height: 20px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    color: #FFFAF0;
    background-color: #0f0f0f;
    border-radius: 3px;
    margin-bottom: 1rem;
    background: #2D2D2C;
    border: 0.125rem transparent;
    transition: border-color 0.3s,
    box-shadow 0.3s;
}

.main-input.-text-area {
    height: 225px;
    resize: vertical;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
    background-color: #2D2D2C;
}

.main-form .main-label {
    box-sizing: border-box;
    color: #FFFAF0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
}

.button-form.-full {
    width: 100%;
}

.button-form {
    border: none;
    color: #FFF;
    background: #0a66c2;
    cursor: pointer;
    transition: 0.3s;
    padding: 12px;
    font-weight: 700;
    border-radius: 5px;
}

.button-form:hover,
.button-form:focus {
    outline: none;
    background: #09d;
}

.main-form {
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
}

.main-form .main-input {
    margin-bottom: 20px;
}

.form-msg {
    font-size: 28px;
    display: block;
    text-align: center;
    color: #FFFAF0;
    font-family: 'Darker Grotesque', sans-serif;
}

.main-input {
    
}

.main-input:hover,
.main-input:focus,
.-text-area:hover,
.-text-area:focus {
    outline: none;
    border-color: #FFFAF0;
    box-shadow: 0 0 0 1px #FFFAF0;
}

#status,
.error {
    text-align: center;
}

#status {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
    color: greenyellow;
}

.error {
    color: tomato;
}

