.main-title {
    font-family: 'Darker Grotesque', sans-serif;
    margin-bottom: 0;
    color: #FFFAF0;
    font-size: 80px;
    text-align: left;
}

.main-title.-second {
    font-family: 'Darker Grotesque', sans-serif;
    color: #FFFAF0;
    font-size: 47px;
    text-align: center;
    margin-bottom: 60px;
}

.main-title.-tirth {
    font-family: 'Darker Grotesque', sans-serif;
    color: #FFFAF0;
    font-size: 47px;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Darker Grotesque', sans-serif;
    color: #FFFAF0;
    font-size: 40px;
    margin: 0;
    text-align: left;
    font-weight: normal;
}

.title {
    font-weight: normal;
}