.main-button {
  cursor: pointer;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  color: #FFFAF0;
  padding: 4px 26px;
  margin: 20px;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  border-radius: 52px;
  box-shadow: 0 0 2px #2a2a2a;
  background: #0a66c2;
  transition: transform 200ms linear, opacity .5s ease-in, background-color .5s ease-out;
}

#back-to-top {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  font-size: 28px;
  background-color: #FFFAF0;
  color: #010101;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
}

.main-button:hover,
#back-to-top:hover {
  border-color: #FFFAF0;
  background-color: #0099DD;
  color: #FFFAF0;
  transition: opacity .5s ease-in, background-color .5s ease-out;
  transform: scale(1.08);
}