* {
    background-color: #0f0f0f;
}

header {
    justify-content: space-between;
    border-bottom: 2px solid #fffaf0;
    padding: 2px 2px;
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 22px;
    margin-left: 30px;
    color: #CCC8AA;
}