.wrapper-skill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 930px;
    margin-left: auto;
    margin-left: auto;
}

.wrapper-skill .skill-tec {
    margin-bottom: 40px;
}

.wrapper-skill .skill-tec:nth-child(odd) {
    margin-right: 100px;
}